<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @movie.name %>
</p>

<p>
  <b>Date of rel:</b>
  <%= @movie.date_of_rel %>
</p>

<p>
  <b>Poster url:</b>
  <%= @movie.poster_url %>
</p>


<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
