<!DOCTYPE html>
<html lang="en">
<title>MoviePitcher</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="css/bootstrap.css" rel="stylesheet" media="screen">
<style type="text/css">
body {
  padding-top: 20px;
  padding-bottom: 40px;
  
}
</style>
</head>
<body >
  <div class="container">
    <ul class="pager">
      <li class="previous">
        <a href="#">&larr; Older</a>
      </li>
      <li class="next">
        <a href="#">Newer &rarr;</a>
      </li>
    </ul>

    <div class="row-fluid">
      <div class="span12 ">
        <div class="row-fluid pull-right">
          <div class="span4 pull-right"><img src="/Users/dhara/moviepitcher/app/assets/images/3-Idiots-Music-Album-Cover.jpg" style="width: 180px; height: 320px;" class="img-polaroid"></div>
          <div class="span4 pull-right"><img src="/Users/dhara/moviepitcher/app/assets/images/3-Idiots-Music-Album-Cover.jpg" style="width: 180px; height: 320px;" class="img-polaroid"></div>
          <div class="span4 pull-right"><img src="/Users/dhara/moviepitcher/app/assets/images/3-Idiots-Music-Album-Cover.jpg" style="width: 180px; height: 320px;" class="img-polaroid"></div>
        </div>
      </div>
    </div>
  </div>
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap.js"></script>
</body>
</html>
