<!DOCTYPE html>
<html lang="en">
<title>MoviePitcher</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="css/bootstrap.css" rel="stylesheet" media="screen">
<style type="text/css">
body {
  padding-top: 20px;
  padding-bottom: 40px;
  
}

.rating {
  float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
   .rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
  }

  .rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
  }

  .rating:not(:checked) > label:before {
    content: '*' ;
  }

  .rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
  }

  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
  }

  .rating > input:checked + label:hover,
  .rating > input:checked + label:hover ~ label,
  .rating > input:checked ~ label:hover,
  .rating > input:checked ~ label:hover ~ label,
  .rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
  }

  .rating > label:active {
    position:relative;
    top:2px;
    left:2px;
  }

  </style>
</head>
<body >
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="row">
          <div class="span3 pull-left" >
            <img src="img/kai-po-che.jpg" style="width: 180px; height: 320px;" class="img-polaroid">
          </div>
          <div class="span9 pull-right" >
            <div class="page-header">
              <h1>Kai Po Che <small>2013</small></h1>
            </div>
            <div class="progress progress-success">
              <div class="bar" style="width: 40%"></div>
            </div>

            <div class="row">
              <span class="span2 lead"> Please rate : </span>
              <fieldset class="rating lead span4">
                <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!"></label>
                <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good"></label>
                <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh"></label>
                <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad"></label>
                <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time"></label>
              </fieldset>
            </div>
            
            <textarea rows="3" class="span9" placeholder="Add a review (optional)"></textarea>
            <button type="button" data-toggle="modal" data-target="#login" class="btn btn-primary pull-right">Post review</button>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <ul class="nav nav-tabs" id="reviews">
      <li class="active"><a href="#critic" data-toggle="tab">Critic</a></li>
      <li><a href="#facebookfriends" data-toggle="tab">Facebook friends</a></li>
      <li><a href="#otherusers" data-toggle="tab">Other users</a></li>
    </ul>

    <div class="tab-content" >
      <div class="tab-pane active" id="critic">
        <div class="accordion" id="accordion2">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                Taran Adarsh
              </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse in">
              <div class="accordion-inner ">
                KAI PO CHE, Abhishek brings alive the characters and events most persuasively. He borrows from the novel, but at the same time adds a lot to it with his deft execution. Resultantly, what emerges is a movie that evokes myriad emotions in the viewer. You smile, chuckle, get anxious and jittery, also moist eyed on several junctures. Attention-grabbing in entirety, absorbing you into its world from the onset itself, KAI PO CHE blends fiction and facts dexterously, recreating a story on celluloid that's credible and noteworthy. On the whole, KAI PO CHE is brimming with solid content. Watch it for the spirit it is made in. Watch it because it's the kind of cinema that pushes the boundaries. Watch it because movies like KAI PO CHE need to be encouraged. A film that deserves an ovation!
              </div>
            </div>
          </div>

          <div class="accordion-group">
            <div class="accordion-heading">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                  Anupama Chopra
                </a>
              </div>


            </div>
            <div id="collapseTwo" class="accordion-body collapse">
              <div class="accordion-inner">
                Kai Po Che! is a moving portrait of friendship, loss, forgiveness. Working from Chetan Bhagat's best-seller The 3 Mistakes of My Life, co-writer and director Abhishek Kapoor lovingly constructs camaraderie so deep and abiding that you know it must be splintered. Ishaan, Govind and Omi, three middle-class boys in Ahmedabad, are swept away by currents beyond their control. Great horrors unfold and yet, when the deeds are done, a sense of redemption remains.
                The story begins with the three -Ishaan played by Sushant Singh Rajput, Govind played by Raj Kumar Yadav and Omi, played by Amit Sadh - embarking on their first business venture, a sports shop with coaching facilities. Ishaan was an aspiring cricketer but like thousands of boys in India, his talent was lost in the maze of selectors and politics. He morphs into a hot-tempered but unusually generous coach. Govind, the cautious and brainy one, keeps a strict eye on the finances - the other two call him baniya. And the loutish but unquestioningly loyal Omi, serves as the financer. He manages to routinely extract money from his uncle who is a political leader in a right-wing Hindu party. Ishaan's star pupil is a scrawny Muslim boy. We are a few months away from the Gujarat riots. You know that no good can come out of this.

                Abhishek Kapoor's biggest accomplishment is that he and his writers have created three-full bodied characters - these boys with their towering ambitions and aching vulnerability, are people you and I know. And then, most critically, he has also found three wonderful actors who inhabit the characters wholly. Sushant, Raj Kumar and Amit become Ishaan, Govind and Omi. Their lack of stardom works in their favour (though I'm fervently hoping that post release, each one becomes a sought-after star). We believe them. We partake in their joys and struggles. Kai Po Che! is beautifully shot by Anay Goswamy but it's not glossy. You can almost feel the sweat and dust of the narrow lanes. And the icing on the cake is the song Manjha by composer Amit Trivedi (who has also sung it) and lyricist Swanand Kirkire. It has a sweet melancholy that reminded me of Kirkire's other gem, Baanwara Mann (from the 2003 film Hazaaron Khwaishein Aisi).

                What doesn't work as well is the screenplay. There are stretches in which the film slows down enough to make you restless. In places, the narrative is jerky and not fully convincing - the boys recover from a big financial blow with little stress. I also found the Gujarati dialogue a little distracting. Kapoor's portrayal of the Gujarat riots doesn't lacerate you like Rahul Dholakia's Parzania or Nandita Das' Firaaq. This version is far more comforting and palatable. But perhaps that is not such a bad thing.

                Kai Po Che! is Gujarati for "I've cut". It is used as a cry of victory in kite-flying contests. Here victory is hard-earned and tinged with tears and regret. But it's also deeply satisfying.
              </div>
            </div>
          </div>

          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                Rajeev Masaand
              </a>
            </div>
            <div id="collapseThree" class="accordion-body collapse">
              <div class="accordion-inner">
                Its title derived from that cry of victory yelled out when an opponent has been defeated in a kite flying challenge, Kai Po Che translates literally as “Gotcha!” An apt expression, perhaps, to describe the home run director Abhishek Kapoor delivers through this moving film about a friendship challenged by real-life tragedies.Rooting a simple story in a realistic middle-class world far removed from the glossy surfaces of Rock On!, Kapoor can’t shake off his fascination for buddy pictures, but in Kai Po Che we’re treated to a more honest, assured portrait of friendship that never feels as conventional as his National Award-winning previous film.Based on a novel by Chetan Bhagat, the film, set in the year 2000, focuses on three childhood pals who pool in their skills and resources to set up a sports shop-cum-cricket academy in their Ahmedabad neighborhood. A brilliant sportsman in his school days, hot-headed slacker Ishaan (Sushant Singh Rajput) commits himself to coaching young hopefuls. Omi (Amit Sadh) taps his local politician uncle for a loan to set up the enterprise, while business-minded Govind (Rajkumar Yadav) takes on the responsibility of maintaining accounts. But just as things are looking up for our earnest protagonists, a series of unforeseeable events threatens to destroy their business and their years-old friendship.Weighed down by a loan he can’t repay, Omi is forced into taking on an active role in his uncle’s fundamentalist Hindu party. Govind, meanwhile, becomes romantically involved with Ishaan’s feisty sister (Amrita Puri), whom he’s been tutoring in math. And Ishaan becomes obsessed with grooming a young Muslim kid with immense batting potential. The earthquake of January 2001 that ripped through the city and claimed thousands of lives not only quashes Govind’s dreams of business expansion, but also drives a rift between Ishaan and Omi, who find themselves on the opposite sides of a communal divide.Skillfully shifting gears from the light-hearted camaraderie of our heroes in the opening act, to the emotional abyss they’re thrust into in the film’s final half hour, Kapoor maintains an unhurried pace and an even tone. Despite the excessive cricket jargon likely to throw off non-sports enthusiasts, you’re drawn into the trio’s world, engaged by their simple joys, concerned for their dilemmas. How do you resist a smile as they plunge into the sea from the top of a fort? Or as each makes his way to the roof of a bus as they head out to celebrate their first earnings?Kai Po Che is filled with such lovely moments, but the story doesn’t linger on this bonhomie. The earthquake, a thrilling India-Australia test-series, followed by the devastating Godhra massacre and the riots of 2002 colors our protagonists’ friendship. Brick by brick, the screenplay builds up the tempo, until the climax delivers its sucker punch. You’d have to have a heart of stone not to be moved by the film’s piercing finale.Much of the film’s success lies in its spot-on casting, even of solid actors in supporting roles, like Manav Kaul playing Omi’s manipulative Bittu mama. Meanwhile, all three leads sink their teeth into nicely etched roles. The abundantly gifted Rajkumar Yadav brings an awkward charm to Govind, turning this penny-pinching, tight-fisted fellow into a living, breathing everyman. Amit Sadh oozes vulnerability in every scene that Omi appears in, and convincingly conveys the character’s inner conflict. But it’s Sushant Singh Rajput, making his film debut as Ishaan, who it’s hard to take your eyes off. The actor has an indescribable presence, and it’s clear from his confidence and distinct likeability that a star is born.At a crisp two hours, Kai Po Che is enriched by its sweeping score and by Kapoor’s deft handling of the film’s varied moods. For evidence of his considerable growth as a director one needn’t look much further than the palpable dread he infuses into scenes of an angry Hindutva mob storming a Muslim ghetto, and the light-handed touch he brings to the portions of the three friends goofing around. Kapoor tackles sensitive issues like the Gujarat riots with equanimity and empathy, and Anay Goswamy’s terrific camerawork complements the director’s vision intuitively.I’m going with four out of five for Kai Po Che. It’s only February, but one of the year’s best films has arrived.
              </div>
            </div>
          </div>

          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                Komal Nahata
              </a>
            </div>
            <div id="collapseFour" class="accordion-body collapse">
              <div class="accordion-inner">
                On the whole, Kai Po Che is a beautifully made and wonderfully enacted film. But it cannot be expected to score everywhere. Its appeal at the box-office will be restricted due to its heavy and tangential second half. The film will do well in select cinemas and good multiplexes. It must be added here that there will also be a section of the class audience which will love the film. Business in Gujarat should be better than in the rest of the country due to the Gujarati flavour of the settings, dialogues etc. and the Gujarat backdrop. Its difficult and in­comprehensible (to the non-Gujarati speaking audience) title is a minus point, more so because the film has no face value to pull in the crowds.
              </div>
            </div>
          </div>

          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
                Saibal Chatterjee
              </a>
            </div>
            <div id="collapseFive" class="accordion-body collapse">
              <div class="accordion-inner">
                Kai Po Che taps the obvious things – cricket, religion, politics, kite flying, Garba dance and the game of marbles – as it focuses on the eddies of Gujarat’s contemporary history as reflected in the fate of a bunch of believable, ordinary youngsters. Pretty much in the manner of the piece of fiction that it is adapted from (Chetan Bhagat’s 'The 3 Mistakes of My Life'), Kai Po Che keeps things simple and uncluttered. That enhances the film’s mass appeal quotient without compromising on the consistent tinge of realism that director and co-screenwriter Abhishek Kapoor imparts to the tale..Kai Po Che is a must watch.
              </div>
            </div>
          </div>


        </div>
      </div>
      <div class="tab-pane" id="facebookfriends">...</div>
      <div class="tab-pane" id="otherusers">...</div>
    </div>

    <!-- Modal -->
    <div id="login" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3 id="myModalLabel">Login or Register</h3>
      </div>
      <div class="modal-body">
        <p>Time pass</p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary">Save changes</button>
      </div>
    </div>

    <hr>
  </div>
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap.js"></script>
  <script>
  function movieTypeAhead() {
    alert('hello');
  }
  $(function () {
    $('#reviews a:first').tab('show');

  }) 

  var subjects = ['Kai Po Che', 'Hum Apke Hai Kaun', '3 Idiots', 'Rang De Basanti', 'Bodyguard', 'Race', 'Jism', 'Halla Bol', 'Munnabhai MBBS'];   
  $('#search').typeahead({source: subjects})  

  $('#login').modal({'show'});
  </script>
</body>
</html>
