<!DOCTYPE html>
<html>
<head>
  <title>Moviepitcher</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<body >
  <div class="container">
    <div class="masthead">
      <ul class="nav nav-pills pull-right">
        <div class="input-append">
          <input class="span8" id="search" type="text" placeholder="Search for bollywood movie" data-provide="typeahead">
          <button class="btn" type="button">Search</button>
        </div>
      </ul>
      <h3 class="muted">MoviePitcher</h3>
    </div>
    <hr>
<%= yield %>

</body>
</html>
